# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
frontend/dist/

# ML assets (large binary files - not committed to Git)


# Env
.env
*.local

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
